name: Login to Majsoul

on:
  schedule:
    - cron: '5 21 * * *'  # UTC 시간으로 21시 5분 (한국 시간 오전 6시 5분)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Execute main.py
      run: python main.py
